$primary-color-dark: #689F38; //main green
$primary-color: #8BC34A; // add green
$primary-color-light: #DCEDC8; //light green
$primary-color-text: #212121; //black
$accent-color: #00BCD4; // add main
$secondary-text-color: #727272; //add text color
$divider-color: #B6B6B6; //divider color